{% extends 'index.html' %}

{% block content %}

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		    Ukoliko postoji korisnički račun s unesenom E-mail adresom, na njega su poslane instrukcije za ponovno postavljanje lozinke koje bi trebale stići ubrzo.
		  </p>
		  <p class="m-auto p-2">
		    Ako ne dobijete E-mail, molim Vas provjerite jeste li unijeli ispravnu adresu s kojom ste se registrirali i provjerite mapu 'Bezvrijedno'.
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'home' %}">Povratak na naslovnicu.</a></p>
	</div>
</div>

{% endblock %}