{% load static %}
<style type="text/css">
	.card-horizontal{
		max-width: 700px;
		width: 100%;
	}
	.card {
		max-width: 700px;
		width: 100%;
	}
	.card-body{
		padding: 20px;
	}
	.gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

    .gutters-sm>.col, .gutters-sm>[class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }
	.box {
		transition: 0.3s;
	}
	.box:hover {
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(170, 170, 170, 0.8) !important;
		transition: 0.3s;
	}
</style>

<div class="container">
	
	<div class="row">
		<div class="card shadow m-auto p-4">
			<h3 class="card-title mb-0 text-center">Kategorije</h3>
			<hr>
			<div class="row gutters-sm">
				<div class="col-sm-6 p-1">
					<div class="box">
						<a href="{% url 'category' cats=1 sort=1 %}">
							<div class="card-horizontal shadow-sm border">
								<img class="img-fluid" width="100px" src="{% static 'dorucak.jpg' %}" style="min-height: 100px; min-width: 100px;">
								<div class="card-body mt-2 mb-2">
										<h5 class="card-title m-auto pt-2 text-muted">Doručak</h5>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-sm-6 p-1">
					<div class="box">
						<a href="{% url 'category' cats=2 sort=1 %}">
							<div class="card-horizontal shadow-sm border">
								<img class="img-fluid" width="100px" src="{% static 'hladnopredjelo.jpg' %}" style="min-height: 100px; min-width: 100px;">
								<div class="card-body mt-2 mb-2">
										<h5 class="card-title m-auto pt-2 text-muted">Hladno predjelo</h5>
								</div>
							</div>
						</a>
					</div>	
				</div>
			</div>
			<div class="row gutters-sm">
				<div class="col-sm-6 p-1">
					<div class="box">
						<a href="{% url 'category' cats=3 sort=1 %}">
						<div class="card-horizontal shadow-sm border">
							<img class="img-fluid" width="100px" src="{% static 'toplopredjelo.jpg' %}" style="min-height: 100px; min-width: 100px;">
							<div class="card-body mt-2 mb-2">
									<h5 class="card-title m-auto pt-2 text-muted">Toplo predjelo</h5>
							</div>
						</div>
						</a>
					</div>	
				</div>
				<div class="col-sm-6 p-1">
					<div class="box">
						<a href="{% url 'category' cats=4 sort=1 %}">
						<div class="card-horizontal shadow-sm border">
							<img class="img-fluid" width="100px" src="{% static 'glavnojelo.jpg' %}" style="min-height: 100px; min-width: 100px;">
							<div class="card-body mt-2 mb-2">
									<h5 class="card-title m-auto pt-2 text-muted">Glavno jelo</h5>
								
							</div>
						</div>
						</a>
					</div>	
				</div>
			</div>
			<div class="row gutters-sm">
				<div class="col-sm-6 p-1">
					<div class="box">
						<a href="{% url 'category' cats=5 sort=1 %}">
						<div class="card-horizontal shadow-sm border">
							<img class="img-fluid" width="100px" src="{% static 'desert.jpg' %}" style="min-height: 100px; max-height: 100px; min-width: 100px;">
							<div class="card-body mt-2 mb-2">
									<h5 class="card-title m-auto pt-2 text-muted">Desert</h5>	
							</div>
						</div>
						</a>
					</div>
					
				</div>
				<div class="col-sm-6 p-1">
					<div class="box">
						<a href="{% url 'category' cats=6 sort=1 %}">
						<div class="card-horizontal shadow-sm border">
							<img class="img-fluid" width="100px" src="{% static 'salatadva.jpg' %}" style="min-height: 100px; min-width: 100px;">
							<div class="card-body mt-2 mb-2">
									<h5 class="card-title m-auto pt-2 text-muted">Salate</h5>
							</div>
						</div>
						</a>
					</div>	
				</div>
			</div>
			<div class="row gutters-sm">
				<div class="col-sm-6 p-1">
					<div class="box">
						<a href="{% url 'category' cats=7 sort=1 %}">
						<div class="card-horizontal shadow-sm border">
							<img class="img-fluid" width="100px" src="{% static 'prilog.jpg' %}" style="min-height: 100px; max-height: 100px; min-width: 100px;">
							<div class="card-body mt-2 mb-2">
									<h5 class="card-title m-auto pt-2 text-muted">Prilozi</h5>	
							</div>
						</div>
						</a>
					</div>
				</div>
				<div class="col-sm-6 p-1">
					<div class="box">
						<a href="{% url 'category' cats=8 sort=1 %}">
						<div class="card-horizontal shadow-sm border">
							<img class="img-fluid" width="100px" src="{% static 'ostalodva.jpg' %}" style="min-height: 100px; min-width: 100px;">
							<div class="card-body mt-2 mb-2">
									<h5 class="card-title m-auto pt-2 text-muted">Ostalo</h5>
							</div>
						</div>
						</a>
					</div>
				</div>
			</div>
			<hr>
			<p class="m-auto pt-1"><a href="{% url 'home' %}">Povratak na naslovnicu</a></p>
		</div>
	</div>
</div>
