<style type="text/css">
	.card{
		max-width: 700px;
		width: 100%;
	}
	.card-body{
		padding: 20px;
	}
	.card-horizontal {
		display: flex;
		flex: 1 1 auto;
	}
	.checked {
    color:orange;
	}
	.crop {
        max-width: 120px;
		min-width: 120px;
		max-height: 120px;
		min-height: 120px;
		overflow: hidden;	
    }
	.crop-img {
		max-width: 120px;
		min-height: 120px;
	}
</style>

{% if blog_post %}
		
		<!-- Blog Post -->
		<div class="card-horizontal">
			<div class="crop">
				<a href="{% url 'blog:detail' blog_post.slug %}">
					<img class="crop-img"  src="{{blog_post.image.url}}">
				</a>
			</div>
			<div class="card-body p-1 pl-2" style=" 
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;">
				<a href="{% url 'blog:detail' blog_post.slug %}">
					<h5 class="card-title">{{blog_post.title}}</h5>
				</a>
				<p class="card-text">{{blog_post.body}}<p>
			</div>
			
			
		</div>
		<div class="card-footer pb-0 text-muted">
			<div class="row">
				<div class="col-7">
					<p>Autor: {{blog_post.author}}</p>
				</div>
				<div class="col-5">
					<p class="float-right"><i class="fa fa-star checked"></i> {{blog_post.get_average}}/5</p>
				</div>
			</div>	
		</div>

{% else %}

		<div class="card m-auto">
			<div class="card-body mt-2 mb-2">
				<h4 class="card-title">Nema rezultata.</h4>
				<p class="card-text" style="font-size: 14px;">Nije ocjenjena niti jedna objava.</p>
			</div>
		</div>


{% endif %}