{% extends 'index.html' %}


{% block content %}
<style type="text/css">
   .create-form {
	    width: 100%;
	    max-width: 100%;
	    padding: 15px;
	    margin: auto;
  	}

  	.submit-button{
  		max-width: 200px;
  	}

	.image {
	  opacity: 1;
	  transition: .5s ease;
	  backface-visibility: hidden;
	}

	.middle {
	  transition: .5s ease;
	  opacity: 0;
	  position: absolute;
	  text-align: center;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	
	}
	.image-group{
		position: relative;
  		text-align: center;
  		cursor:pointer;
	}

	.image-group:hover .image {
	  opacity: 0.3;
	}

	.image-group:hover .middle {
	  opacity: 1;
	}

	.text {
	  margin: auto;
	  background-color: #0066ff;
	  color: white;
	  font-size: 15px;
	  padding: 15px;
	}
	.add-button{
        max-width: 100px;
    }
	.sirina {
        max-width: 150px;
    }
</style>

<div class="container">
	<div class="row">
		<div class="col-lg-8 offset-lg-2 card shadow mb-3 mt-4">
			<h1 class="h3 mb-3 font-weight-normal text-center mt-4">Uređivanje</h1>

                <div class="form-group mb-3">
                    <p>Uspješno izbrisano.</p>
					<p class="m-auto pb-3"><a href="{% url 'home' %}">Povratak na naslovnicu.</a></p>
                </div>
		</div>
	</div>
</div>



{% endblock content %}