{% extends 'index.html' %}
{% load static %}
{% block content %}

<style type="text/css">
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }
    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="email"] {
        margin-bottom: 10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;  
    }
    .form-signin input[type="username"] {
        margin-bottom: 10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;  
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .blog-posts {
        max-width: 500px;
        width: 100%;
        margin: auto;
    }
    .favorite-posts {
        max-width: 500px;
        width: 100%;
        margin: auto;
    }
    .okvir{
        border: 1px solid #000000;
    }
    .sticky-offset{
        top: 130px;
    }

    .card-horizontal {
		display: flex;
		flex: 1 1 auto;
	}    

    .main-body {
        padding: 15px;
    }
    .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

    .gutters-sm>.col, .gutters-sm>[class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }
    .mb-3, .my-3 {
        margin-bottom: 1rem!important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }
    .h-100 {
        height: 100%!important;
    }
    .shadow-none {
        box-shadow: none!important;
    }

</style>
<!--NOVO-->

<div class="container">
    <div class="main-body">
    
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card shadow">
                     <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <p class="pt-3 pl-1"><embed style="pointer-events: none;" src="{% static 'lonac.svg' %}" alt="lonac.svg" width="280px" height="140px"></p>
                            <div class="mt-3 pb-2">
                                <p class="text-secondary mb-1">Korisnik:</p>
                                <h4>{{account_form.initial.username}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer pb-0">
                        <p class="text-muted">Pridružio se: {{request.user.date_joined|date:"d. E Y."}}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-8">    
                <!--PREVIEW-->
                <div class="card mb-3 shadow" id="oldDiv" style="display: block">               
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8 pt-2">
                                <h4>Postavke računa:</h4>
                            </div>
                            <div class="col-4 pt-2 text-secondary">
                                <button class="btn btn-sm btn-outline-primary float-right pr-2" type="button" onclick="newDivHere()">Uredi</button>
                            </div>
                        </div>
                        {% if success_message %}
                                <p style="color: green;"><i class="fa fa-check" style="color:green;"></i>{{success_message}}</p>
                        {% endif %}
                        <hr class="mt-2">

                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Korisničko ime</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">
                                {{account_form.initial.username}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">E-mail</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">
                                {{account_form.initial.email}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Lozinka</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">
                                <a class="m-auto" href="{% url 'password_change' %}">Promjena lozinke</a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Spol</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">
                                {{account_form.initial.get_gender_display}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Datum rođenja</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">
                                {{account_form.initial.date_of_birth}}
                            </div>
                        </div>    
                    </div>
                </div>

                <!--EDIT-->
                
                <div class="card mb-3 shadow" id="newDiv" style="display: none">
                    <form method="post">{% csrf_token %}               
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6 pt-2">
                                    <h4>Postavke računa:</h4>
                                </div>
                            </div>
                            <hr class="mt-2">

                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0 pt-2">Korisničko ime</h6>
                                </div>
                                <div class="col-sm-8">
                                    <input type="username" name="username" id="inputUsername" class="form-control" placeholder="Korisničko ime" required autofocus value="{{account_form.initial.username}}">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0 pt-2">E-mail</h6>
                                </div>
                                <div class="col-sm-8">
                                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="E-mail" required value="{{account_form.initial.email}}">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">Lozinka</h6>
                                </div>
                                <div class="col-sm-8">
                                    <a class="m-auto" href="{% url 'password_change' %}">Promjena lozinke</a>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0 pt-2">Spol</h6>
                                </div>
                                <div class="col-sm-8">
                                    <select class="form-select form-control razmak" id="inputGender" name="gender">
                                        <option selected value="{{account_form.initial.gender}}">{{account_form.initial.get_gender_display}}</option>
                                        <option value="0">Muško</option>
                                        <option value="1">Žensko</option>
                                        <option value="2">Neodređeno</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0 pt-2">Datum rođenja</h6>
                                </div>
                                <div class="col-sm-8">
                                    <input type="date" placeholder="Datum rođenja" id="inputD_O_B" class="form-control" name="date_of_birth" value="{{account_form.initial.date_of_birth|date:'Y-m-d'}}">
                                </div>
                            </div>
                            <hr>
                            <div>
                                {% for field in account_form %}
                                    <p>
                                        {% for error in field.errors %}
                                            <p style="color: red" id="error">{{error}}</p>
                                        {% endfor %}
                                    </p>
                                {% endfor %}
    
                                {% if account_form.non_field_errors %}
                                    <div style="color: red">
                                        <p id="errortwo">{{account_form.non_field_errors}}</p>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row gutters-sm">
                                <div class="col-sm-3 pt-1 pb-1">
                                    <button class="btn btn-md btn-outline-primary btn-block" type="submit">Spremi</button>
                                </div>
                                <div class="col-sm-3 pt-1 pb-1">
                                    <a class="btn btn-md btn-outline-danger btn-block" href="{% url 'account' %}">Odustani</a>
                                </div>
                            </div>
                        </div> 
                    </div>
                    
                </form>
            </div>
        </div>
        <!--OBJAVE-->
        <div class="row gutters-sm">
            <div class="col-sm-6 mb-3">
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="d-flex align-items-center mb-3 text-muted" style="font-weight: bold;">Moje objave</h4>
                        
                        {% if blog_posts %}
                            {% for post in blog_posts %}
                            <div class="card shadow mt-3">
                                <div class="card-horizontal">
                                    <a href="{% url 'blog:detail' post.slug %}">
                                        <img class="img-fluid" src="{{post.image.url}}" style="max-width: 130px;">
                                    </a>
                                    <div class="card-body p-1 pl-2" style=" 
                                    overflow: hidden;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 3;
                                    -webkit-box-orient: vertical;">
                                        <a href="{% url 'blog:detail' post.slug %}">
                                            <h5 class="card-title">{{post.title}}</h5>
                                        </a>
                                        <p class="card-text">{{post.body}}<p>
                                    </div>    
                                </div>

                                <div class="card-footer pb-0 text-muted">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="float-left">Objavljeno: {{post.date_published}}</p>
                                        </div>
                                    </div>	
                                    
                                </div>

                            </div>


                            {% endfor %}

                        {% else %}
                            <p>Trenutno nemate niti jednu objavu. Stvori objavu <a href="{% url 'blog:create' %}">ovdje</a>.</p>

                        {% endif %}

                        
                    </div>
                </div>
            </div>

            <div class="col-sm-6 mb-3">
              <div class="card shadow">
                <div class="card-body">
                    <h4 class="d-flex align-items-center mb-3 text-muted" style="font-weight: bold;">Favoriti</h4>
                    
                    {% if favorite_posts %}
                            {% for post in favorite_posts %}
                            <div class="card shadow mt-3">
                                <div class="card-horizontal">
                                    <a href="{% url 'blog:detail' post.slug %}">
                                        <img class="img-fluid" src="{{post.image.url}}" style="max-width: 130px;">
                                    </a>
                                    <div class="card-body p-1 pl-2" style=" 
                                    overflow: hidden;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 3;
                                    -webkit-box-orient: vertical;">
                                        <a href="{% url 'blog:detail' post.slug %}">
                                            <h5 class="card-title">{{post.title}}</h5>
                                        </a>
                                        <p class="card-text">{{post.body}}<p>
                                    </div>    
                                </div>

                                <div class="card-footer pb-0 text-muted">
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="mb-0">Autor: {{post.author}}</p>
                                            <p class="mb-2"><a href="{% url 'favorite_remove' slug=post.slug %}">Ukloni</a></p>
                                        </div>
                                        <div class="col-6">
                                            <p class="float-right">{{post.date_published|date:'d. m. y. H:i'}}</p>
                                        </div>
                                    </div>	                                   
                                </div>
                            </div>
                            {% endfor %}

                        {% else %}
                        <p>Trenutno nemate niti jednu objavu u favoritima.</p>

                        {% endif %}
                  
                  
                </div>
              </div>
            </div>

        </div>
    </div>
</div>
<button onclick="topFunction()" id="myBtn" title="Go to top" class="btn btn-outline-primary"><i class="fa fa-angle-up" aria-hidden="true"></i></button>


<script> 

    function newDivHere() {
        document.getElementById("oldDiv").style.display="none";
        document.getElementById("newDiv").style.display="block";
    }

    var error = document.getElementById("error");
    var errortwo = document.getElementById("errortwo");

    if (error) {
        newDivHere();
    }
    if (errortwo) {
        newDivHere();
    }
    
</script>

{% endblock content %}