{% extends 'index.html' %}

{% block content %}

<style type="text/css">
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }
    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="email"] {
        margin-bottom: 10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;  
    }
    .form-signin input[type="username"] {
        margin-bottom: 10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;  
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .blog-posts {
        max-width: 500px;
        width: 100%;
        margin: auto;
    }
    .favorite-posts {
        max-width: 500px;
        width: 100%;
        margin: auto;
    }
    .okvir{
        border: 1px solid #000000;
    }
</style>

<form class="form-signin" method="post">{% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal text-center">Korisnički račun</h1>

    <input type="username" name="username" id="inputUsername" class="form-control" placeholder="Korisničko ime" required autofocus value="{{account_form.initial.username}}">

    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="E-mail" required value="{{account_form.initial.email}}">
    

    <!-- errors -->
    {% for field in account_form %}
        <p>
        {% for error in field.errors %}
            <p style="color: red">{{error}}</p>
        {% endfor %}
        </p>
    {% endfor %}

    {% if account_form.non_field_errors %}
        <div style="color: red">
            <p>{{account_form.non_field_errors}}</p>
        </div>
    {% endif %}

    {% if success_message %}
        <p style="color: green; text-align: center;">{{success_message}}</p>
    {% endif %}

    <div class="d-flex felx-column mb-3">
        <a class="m-auto" href="{% url 'password_change' %}">Promjena lozinke</a>
    </div>
    
    <button class="btn btn-lg btn btn-outline-primary btn-block" type="submit">Spremi</button>


  </form>

<div class="container mt-4 p-4">
    <div class="row">
        <div class="blog-posts">
            <h3 class="mb-3 font-weight-normal">Moje objave:</h3>
            {% if blog_posts %}
                <ul>
                {% for post in blog_posts %}
                    <a href="{% url 'blog:detail' post.slug %}" style="text-decoration: none;">
                        <li class="list-group-item">{{post}}</li>
                    </a>
                {% endfor %}
                </ul>
            {% else %}
            <p>Trenutno nemate niti jednu objavu. Stvori objavu <a href="{% url 'blog:create' %}">ovdje</a>.</p>

            {% endif %}
        </div>

        <div class="favorite-posts">
            <h3 class="mb-3 font-weight-normal">Moji favoriti:</h3>
            {% if favorite_posts %}
                <ul>
                {% for post in favorite_posts %}
                    <a href="{% url 'blog:detail' post.slug %}" style="text-decoration: none;">
                        <li class="list-group-item">{{post}}</li>
                        <span><a href="{% url 'favorite_remove' slug=post.slug %}">Ukloni</a></span>
                    </a>
                {% endfor %}
                </ul>
            {% else %}
            <p>Trenutno nemate niti jednu objavu u favoritima.</p>

            {% endif %}
        </div>

    </div>

</div>

{% endblock content %}